<!--game details section start-->
<div class='module ptb-100'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='section-heading text-center'>
        <h2>{{game.title}}</h2>
      </div>
    </div>
    <div class='row my-4'>
      <div class='col-lg-3 col-md-3'>
        <div class='sidebar-right row justify-content-center'>

          <img
            src='{{game.image}}'
            alt='game image'
            class='img-fluid rounded col-12'
          />

          <!-- Tags widget-->
          <aside class='widget widget-tag-cloud mt-4'>
            <div class='widget-title'>
              <h6>دسته‌های مرتبط</h6>
            </div>
            <div class='row tag-cloud justify-content-center'>
              {{#each game.tags}}
                <a href='{{this.url}}'>{{this.name}}</a>
              {{/each}}
            </div>
          </aside>

        </div>
      </div>
      <div class='col-lg-9 col-md-9'>
        <!-- Post-->
        <article class='post'>
          <div class='row justify-content-center'>
            <iframe
              src='{{game.iframe.url}}'
              class='col-12'
              style='aspect-ratio: {{game.iframe.ratio}};'
              scrolling='no'
              allowfullscreen='allowfullscreen'
              allow='autoplay; fullscreen; microphone; gamepad; accelerometer; encrypted-media; gyroscope;'
            ></iframe>
          </div>
        </article>
        <!-- Post end-->
      </div>
    </div>
    <p class='lead'>بازی‌های مشابه</p>
    <div class='row justify-content-center'>
      {{#each game.similarGames}}
        <div class='col-md-3 col-lg-3 mt-3'>
          <div class='single-game-hosting'>
            <span class='img-overlay'></span>
            <img src='{{this.image}}' alt='game' class='img-fluid' />
            <div class='game-hosting-name'>
              <h3 class='mb-0 h6'>{{this.name}}</h3>
              <a
                href='{{this.url}}'
                class='btn btn-brand-03 btn-sm btn-block'
              >بازی کن</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<!--game details section end-->